In [2]:
"I eat %d apples" % 3

'I eat 3 apples'

In [5]:
"I eat %s apples" % "five"

'I eat five apples'

In [7]:
Number = 3
"I eat %d apples." % Number

'I eat 3 apples.'

In [16]:
Number = 3.141591 #f 앞에 .3 을 붙이면 소수점 3자리 까지 가져옴 
"I eat %.3f apples." % Number

'I eat 3.142 apples.'

In [19]:
Number = 3.141591
"I eat %.3f%% apples." % Number

'I eat 3.142% apples.'

In [20]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." %(number,day)

'I ate 10 apples. so I was sick for three days.'

In [9]:
a = "Life is too short, You need Python"

In [10]:
a1 = a[0:4]

In [11]:
a2 = a[0:5]

In [12]:
if a1 == a2:
    print("같다")
else:
    print("다르다")

다르다

In [13]:
print(a1, len(a1))
print(a2, len(a2))

Life 4
Life  5

In [17]:
print(a1, len(a1))
print(a2,len(a2))

Life 4
Life  5

In [25]:
a3="   lstrips"

In [26]:
a3.lstrip()

'lstrips'

In [27]:
a3

'   lstrips'

In [28]:
words1 = "딸기, 바나나, 수박"

In [44]:
bananaFromWords1 = words1[4:7]
print(bananaFromWords1)

바나나

In [66]:
a ="딸기"
indexOfBanana = words1.find(a)
lensOfFruit = len(a)
indexOfBanana2= indexOfBanana+lensOfFruit
bananaFromWords1 = words1[indexOfBanana:indexOfBanana2]
print(bananaFromWords1)

딸기

In [62]:
wmFromWords1 = words1[9:]
print(wmFromWords1)

수박

In [63]:
sbFromWords1 = words1[:2]
print(sbFromWords1)

딸기

In [73]:
a= "Pithon"

In [74]:
a[1]="y" #오류남, 문자는 원하는대로 고칠 수 없음

TypeError: 'str' object does not support item assignment

In [75]:
a[:1],a[2:],a[:1] + 'y' + a[2:]

('P', 'thon', 'Python')

In [76]:
a2 = a[:1] + 'y' + a[2:]

In [77]:
a= a2
print(a)

Python

In [3]:
name1 = "김정연";major1 = "IT";howManyPhone1 =2
name2 = "최승연";major2 = "BT";howManyPhone2 =3

print("name1"+"\t"+"major"+"\t"+"howManyPhone")
print(name1+"\t"+major1+"\t"+str(howManyPhone1))
print(name2+"\t"+major2+"\t"+str(howManyPhone2))
#숫자열이 보통은 오른쪽 정렬이 된다. 그 이유는 자릿수를 통해 수치를 한눈에 확인해보기위해서
print("name1"+"\t"+"major"+"\t"+"howManyPhone")
print(name1+"\t"+major1+"\t"+"%10s"%str(howManyPhone1))
print(name2+"\t"+major2+"\t"+"%10s"%str(howManyPhone2))

name1	major	howManyPhone
김정연	IT	2
최승연	BT	3
name1	major	howManyPhone
김정연	IT	         2
최승연	BT	         3

In [2]:
print("%s" "120")
print("%s" % "120")
print("%10s" % "120")

%s120
120
       120

In [5]:
print("%-10s" % "120")
print("%-10s" % "12000")

120
12000

In [9]:
print("%10.2f" % 120)
print("%10.2f" % 12000)

    120.00
  12000.00

In [10]:
"~~~~~~~~~{0}~~~~~~~{1}~~~~~~~~~~~~"

'~~~~~~~~~{0}~~~~~~~{1}~~~~~~~~~~~~'

In [11]:
"~~~~~~~~~{0}~~~~~~~{1}~~~~~~~~~~~~".format("정연",2)

'~~~~~~~~~정연~~~~~~~2~~~~~~~~~~~~'

In [12]:
"~~~~~~~~~{0}~~~~~~~{1}~~~~~~~~~~~~{0}~~~~~~~~~~~~".format("정연",2)

'~~~~~~~~~정연~~~~~~~2~~~~~~~~~~~~정연~~~~~~~~~~~~'

In [14]:
"~~~~~~~~~{name}~~~~~~~{howMany}~~~~~~~~~~~~{howMany}~~~~~~~~~~~~".format(name = "정연",howMany=2)

'~~~~~~~~~정연~~~~~~~2~~~~~~~~~~~~2~~~~~~~~~~~~'

In [17]:
"{0:10}".format("120")

'120       '

In [18]:
"{0:^10}".format("120")

'   120    '

In [21]:
"{0:>10}".format("120")

'       120'

In [23]:
"{0:_>10}".format("120")

'_______120'

In [26]:
name="정연"
age=120
"나의 이름은 {0}입니다. 나이는 {1}살 까지 살고 싶어요".format(name,age)

'나의 이름은 정연입니다. 나이는 120살 까지 살고 싶어요'

In [27]:
f"나의 이름은 {name}입니다. 나이는 {age}살 까지 살고 싶어요"

'나의 이름은 정연입니다. 나이는 120살 까지 살고 싶어요'

In [30]:
"내가 가장 좋아하는 바나나는 크기가 큰 바나나 입니다. 왜냐면 작은 바나나는\
같은 무게를 사도 껍질로 다 버려져요".count("바나나")

3

In [33]:
",".join("abcd")

'a,b,c,d'

In [34]:
",".join(["abc", "def", "ghi"])

'abc,def,ghi'

In [35]:
"-".join(["010","5014","8946"])

'010-5014-8946'

In [39]:
"-".join(["010","5014","8946"])

'010-5014-8946'

In [38]:
phonenumber = "01050148946"

In [46]:
frontnum = phonenumber[:3]
print(frontnum)
middlenum = phonenumber[3:7]
print(middlenum)
endnum = phonenumber[7:]
print(endnum)

010
5014
8946

In [48]:
"-".join([frontnum,middlenum,endnum])

'010-5014-8946'

In [51]:
a="I love apple. because apple is so sweet."
b= a.replace("apple","peach")
print(b)

I love peach. because peach is so sweet.

In [53]:
#'010-5014-8946'
phonenumber = '010-5014-8946'
b=phonenumber.replace("-","")
print(b)

01050148946

In [54]:
a= " life is good"
b= a.split()
print(b)

['life', 'is', 'good']

In [58]:
phonenumber = '010-5014-8946'
split = phonenumber.split("-")
print(split)
print("식별번호:",split[0],", 국번",split[1],", 개인번호",split[2])

['010', '5014', '8946']
식별번호: 010 , 국번 5014 , 개인번호 8946

In [63]:
a = []
print(a)
e = [1,2,[3,4]]
print(e)
print(len(e))
print(e[0])
print(e[2])
print(e[-1])
print(e[2][-1])

[]
[1, 2, [3, 4]]
3
1
[3, 4]
[3, 4]
4

In [64]:
str1="abc"
print(str1[2])
#str1[2] = 'd'
a=[1,2,3]
a[2]=4
print(a)

c
[1, 2, 4]

In [65]:
a=[1,4,3,2]
a.sort()
print(a)

[1, 2, 3, 4]

In [75]:
a=[1,4,3,2]
a2 = a[:] # 이렇게 [:]안에 공간을 만들어줘야 a의 원본이 상하지 않는다.
a2.sort()
print(a2)
print(a)

[1, 2, 3, 4]
[1, 4, 3, 2]

In [77]:
a=[1,4,3,2]
a2 = sorted(a) # 이렇게 해줘도 원본이 상하지 않는다.
print(a2)
print(a)

[1, 2, 3, 4]
[1, 4, 3, 2]

In [78]:
a=[1,4,3,2]
a2= sorted(a, reverse = True)
print(a2)
print(a)

[4, 3, 2, 1]
[1, 4, 3, 2]

In [79]:
a=[1, 2,3]
a[2]
a.pop()

3

In [80]:
a

[1, 2]

In [82]:
a=[1, 2,3]
a[2]
a.pop(1)

2

In [83]:
a

[1, 3]

In [84]:
a1 = [1,2]; a2 =[3,4]
new1 = a1+a2 ; print(new1)
a1.extend(a2) ; print(a1)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [85]:
my_dic1 = {}

In [86]:
my_dic1["banana"] = "노랗고 달콤한 과일"

In [87]:
my_dic1["strawberry"] = "새콤 달콤 빨간 과일"

In [88]:
my_dic1

{'banana': '노랗고 달콤한 과일', 'strawberry': '새콤 달콤 빨간 과일'}

In [92]:
#del my_dic1[0]
del my_dic1["banana"]

In [93]:
my_dic1

{'strawberry': '새콤 달콤 빨간 과일'}

In [95]:
my_dic1.keys()

dict_keys(['strawberry'])

In [96]:
my_dic1["banana"] = "노랗고 달콤한 과일2"
my_dic1

{'strawberry': '새콤 달콤 빨간 과일', 'banana': '노랗고 달콤한 과일2'}

In [98]:
[1,2,3]
{"a":1,"b":2,"c":3}
(1,2,3)
#{}딕서너리 형은 key값과 value값으로 맵핑이 되어있음

[1, 2, 3]
{'a': 1, 'b': 2, 'c': 3}
(1, 2, 3)

In [99]:
a=True
b=false

NameError: name 'false' is not defined

In [101]:
a=[1,4,3,2]
a2=a[:]

In [104]:
from copy import copy
b=[1,4,3,2]
b2=copy(b)

In [107]:
if 3<1:
    print("참")
if 4<10:
    print("참")

참

In [108]:
if 3<1:
    print("참")
else:
    print("거짓")

거짓

In [112]:
a = 2
b = 3
if a == b:
    print("두 수가 같다")
else:
    print("다르다")

다르다

In [113]:
#if True or False :
if True or False:
    print("참")

참

In [114]:
1 in [1,2,3]

True

In [115]:
1 not in [1,2,3]

False